<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cart Website</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="cart">
        <nav class="navbar">
            <div class="logo">
                <a href="/"><img th:src="@{/images/logo.png}"></a>
            </div>

            <ul class="nav-links">
                <div class="menu">
                    <!-- Odnosniki na stronie -->
                    <li><a th:href="@{/}">Home</a></li>
                    <li><a th:href="@{phone}">Phone</a></li>
                    <li><a th:href="@{accessories}">Accessories</a></li>
                    <li><a th:href="@{cart}">Cart</a></li>
                    <li><a th:href="@{login}">Log in</a></li>
                </div>
            </ul>
        </nav>

        <section class="items">
            <div class="item">
                <img th:src="@{/images/mobile.png}">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="order-form">
                <!-- connecting with backend -->
                <form th:action="@{/order}" th:object="${phone}" method="post" class="order-column">
                    <label>Color: </label>
                    <select th:field="*{color}">
                        <option value=""></option>
                        <option value="Black">Black</option>
                        <option value="White">White</option>
                    </select>
                    <label>Processor: </label>
                    <select th:field="*{processor}">
                        <option value=""></option>
                        <option value="Snapdragon 8 core">Snapdragon 8 core</option>
                        <option value="Snapdragon 6 core">Snapdragon 6 core</option>
                    </select>
                    <label>Camera: </label>
                    <select th:field="*{camera}">
                        <option value=""></option>
                        <option value="12Mpx">12Mpx</option>
                        <option value="20Mpx">20Mpx</option>
                    </select>
                    <label>Battery: </label>
                    <select th:field="*{battery}">
                        <option value=""></option>
                        <option value="6000mAh">6000mAh</option>
                        <option value="5000mAh">5000mAh</option>
                    </select>
                    <button type="submit">Order</button>
                </form>
            </div>
        </section>

    </div>

    <script type="text/javascript" th:src="@{/js/script.js}"></script>

</body>
</html>