<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script defer src="../static/js/script.js"></script>
</head>
<body>
    <div class="order">
        <nav class="navbar">
            <div class="logo">
                <a href="/"><img th:src="@{/images/logo.png}"></a>
            </div>

            <ul class="nav-links">
                <div class="menu">
                    <!-- Odnosniki na stronie -->
                    <li><a th:href="@{/}">Home</a></li>
                    <li><a th:href="@{phone}">Phone</a></li>
                    <li><a th:href="@{accessories}">Accessories</a></li>
                    <li><a th:href="@{cart}">Cart</a></li>
                    <li><a th:href="@{login}">Log in</a></li>
                </div>
            </ul>
        </nav>

        <section class="orders">
            <h1>That is your order number: </h1>
            <h2 th:text="${id}">id</h2>
            <h1>This is your order set-up: </h1>
            <h2 th:text="${color}">color</h2>
            <h2 th:text="${processor}">processor</h2>
            <h2 th:text="${camera}">camera</h2>
            <h2 th:text="${battery}">battery</h2>
        </section>
    </div>

</body>
</html>