<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script defer src="../static/js/script.js"></script>
</head>
<body>
    <div class="registration">
        <nav class="navbar">
            <div class="logo">
                <a href="/"><img th:src="@{/images/logo.png}"></a>
            </div>

            <ul class="nav-links">
                <div class="menu">
                    <!-- Odnosniki na stronie -->
                    <li><a th:href="@{/}">Home</a></li>
                    <li><a th:href="@{phone}">Phone</a></li>
                    <li><a th:href="@{accessories}">Accessories</a></li>
                    <li><a th:href="@{cart}">Cart</a></li>
                    <li><a th:href="@{login}">Log in</a></li>
                </div>
            </ul>
        </nav>

        <section class="user">
            <div class="register">
                <form th:action="@{/register}" th:object="${user}" method="post" class="register-column">
                    <label>First name: </label>
                    <input type="text" name="firstname">

                    <label>Last name: </label>
                    <input type="text" name="lastname">

                    <label>E-mail: </label>
                    <input type="text" name="email">

                    <label>Password: </label>
                    <input type="text" name="password">

                    <button type="submit">Register</button>
                </form>
            </div>
        </section>
    </div>
</body>
</html>